<tr class="border-b border-gray-200 hover:bg-gray-100">
  <td class="py-3 px-6 text-left"><%= laptop.company %></td>
  <td class="py-3 px-6 text-left"><%= laptop.model %></td>
  <td class="py-3 px-6 text-left"><%= laptop.year %></td>
  <td class="py-3 px-6 text-left"><%= laptop.price %></td>
</tr>
