<div class="flex justify-center items-center py-8">
  <h1 class="text-4xl font-bold text-pink-600 tracking-wide">My Comparing</h1>
</div>
<%= link_to 'pdf', laptop_compare_index_path(format: :pdf) %>
<div>
  <%= render 'laptop_compare/table_for_comparing' %>
</div>
