<div class="mx-auto md:w-2/3 w-full">
  <div class="flex justify-center items-center py-8">
    <h1 class="text-4xl font-bold text-pink-600 tracking-wide">Edit the laptop</h1>
  </div>

  <%= render "form", laptop: @laptop %>

</div>
